.promocodeItem {
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    color: var(--main-text-color);
    background-color: #4266d0;
    padding: 10px;
    border-radius: 10px;
    transition: all .4s;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info > p {
    font-size: 16px;
    font-weight: 600;
}

.additionalInfo {
    display: flex;
    gap: 5px;
    font-size: 13px;
}

.copyIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    background-color: transparent;
    border: none;
}

.copyIcon:hover {
    transform: scale(1.1);
}