.authorizationLink {
    color: #ffffff;
    text-decoration: none;
    font-family: Poppins, serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #4266d0;
    padding: 5px 10px;
}

.authorizationLink:hover {
    background-color: #394088;
}