.sideBarMenu {
    background-color: var(--main-background-sidebarMenu-color);
    height: 100%;
    width: 100%;
}

.sideBarMenuContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: inherit;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text-color);
    margin-bottom: 10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.title p {
    font-size: 30px;
    font-family: Catamaran, sans-serif;
    font-weight: bold;
}

.gameListContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.authorizationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    transition: all .4s;
}

button:hover {
    transform: scale(1.1);
}